/* .App {
  background-color: rgba(238, 192, 192, 0.164);
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center-heading{
  text-align: center;
}

h1.center-heading {
  font-family: 'Abril Fatface', 'cursive';
  font-size: 3.5rem;
}

h2.center-heading{
  font-family: 'Abril Fatface', 'cursive';
}

.nav-link {
  color: white;
  font-size: 1.1rem;
  font-family: 'Abril Fatface', 'cursive';
  text-decoration-line: none;
}

.nav-bar {
  background-color: rgba(238, 192, 192, 0.164);
}

.booking-calendar .week .day-box .day .header {
  background: grey;
}

.font{
  font-family: 'Abril Fatface', 'cursive';
}

p {
  font-size: 16px;
}

.rbc-body {
  background: grey;
  color: grey;
}

.overlay{
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 3;

}